h1 Developer

= form_tag developers_path, method: :get do
  = label_tag(:programming_languages, "programming languages ")
  = text_field_tag :programming_languages, params[:programming_languages]
  = label_tag(:languages, " languages ")
  = text_field_tag :languages, params[:languages]
  = submit_tag "Search", name: nil

br

table.developer-table
  thead
    tr
      th Email
      th Prgramming Language
      th Language
  tbody
    - @developers.each do |dev|
      tr
        td= dev.email
        td
          - dev.programming_languages.each do |pro_lan|
            span
              = pro_lan.name
              - if pro_lan != dev.programming_languages.last
                | , 
        td
          - dev.languages.each do |lan|
            span
              = lan.code
              - if lan != dev.languages.last
                | , 
  