// Place all the styles related to the Developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.developer-table {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 50%;

  tr {
    border: 1px solid black;
  }

  th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }

  td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }
}